body {
    color: rgb(38, 38, 38);
    font-family:Impact, Arial, sans-serif;
    font-size: 30px;
    background-color: rgb(108, 108, 108);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 400px 400px auto;
    grid-template-areas:
        "head head head"
        "aside content1 content1"
        "aside content2 content3"
        "footer footer footer";
    gap: 10px;
}
div {
    padding: 30px;
}
#header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-area: head;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to right, rgb(151, 151, 255), rgb(229, 183, 255));
}
#sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    grid-area: aside;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to right, rgb(255, 252, 178), rgb(156, 189, 107));
}
#content1 {
    grid-row: 2 / 3;
    grid-column: 2/ 4;
    grid-area: content1;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to bottom, rgb(255, 137, 101), rgb(181, 65, 8));
}
#content2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    grid-area: content2;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to right, rgb(111, 224, 255), rgb(35, 105, 137));
}
#content3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    grid-area: content3;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to right, rgb(255, 167, 234), rgb(147, 32, 107));
}
#footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    grid-area: footer;
    box-shadow: 5px 5px 2px rgb(47, 47, 47);
    background-image: linear-gradient(to right, rgb(151, 151, 255), rgb(229, 183, 255));
}
.section1:hover {
    transform: scale(1.04);
    filter: blur(2px);
}
.section:hover {
    transform: scale(1.04);
    transform: rotate(7deg);
    filter: grayscale(100%);
    cursor: pointer;
    animation: opacity 2s ease 0s 1 normal;
}
.section:active {
    transform: scale(0.9);
    
}
#portfolio {
padding: 10px;
border-radius: 7px;
background-color: white;
font-family: Barlow Condensed, Arial, sans-serif;
width: 200px;
text-align: center;
color: rgb(54, 112, 131);
margin-top: 20px;
margin-left: 10px;
}
#portfolio a {
text-decoration: none;
}
#portfolio:hover {
transform: scale(1.05);
}
@keyframes opacity {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}